h1 {
    text-align: center;
    color: black;
    background-color: white;
    font-size: 45px;
    font-family: American Typewriter, serif;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
    font-size: 20px;
}
h2, h3 {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: white;
    font-size: 25px;
}